/* @import "./base.css"; */

#app {
  max-width: 1580px;
  /* width: 1300px; */
  /* height: 80vh; */
  /* margin: 0 auto; */
  /* padding: 3rem; */

  font-weight: normal;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

body {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}




